<!-- /components/header.html -->
<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <i class="fas fa-store logo-icon"></i>
                屏東太平洋百貨
            </div>
            <nav>
                <ul class="nav-links" style="font-size: 20px;">
                    <li><a href="#events-container" class="scroll-link">活動報名</a></li>
					<li><a href="/components/DM.html">線上DM</a></li>
                    <li><a href="/components/brands.html">美食饗宴</a></li>
					<li><a href="/components/member.html">會員專區</a></li>
                    <li><a href="/components/voucher.html">禮卷購買</a></li>
					<li><a href="/components/customer.html">客服中心</a></li>
					<!-- <li><a href="#">場地租賃</a></li> -->
                    
                    <!--<li>
                        <a href="#" class="login-btn">
                            <span>登入</span>
                        </a>
                    </li>-->
                </ul>
            </nav>
            <div class="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</header>