<!-- 當地特色 -->
<section class="local-features">
    <div class="container">
        <h2 class="section-title">活動快報 New in store!</h2>
        <nav class="nav-sidebar">
            <ul class="columns">
                <li><a href="#" data-category="活動快報" class="active">活動快報</a></li>
                <li><a href="#" data-category="全館活動">全館活動</a></li>
                <li><a href="#" data-category="品牌活動">品牌活動</a></li>
                <!--<li><a href="#" data-category="廣場/報名活動">廣場/報名活動</a></li>-->
                <!--<li><a href="#" data-category="餐廳美食">餐廳美食</a></li>-->
                <li><a href="#" data-category="公告訊息">公告訊息</a></li>
            </ul>
        </nav>
        <div class="local-features-grid">
            <div class="local-feature" data-category="活動快報">
                <div class="local-feature-img">
                    <img src="/images/local/AllEvents/1.jfif" alt="Pop-up store活動">
                </div>
                <div class="local-feature-content">
                    <div class="local-feature-category">活動快報</div>
                    <h3>B1F Butter Butler奶油執事</h3>
                    <p>「Butter Butler」的包裝以「管家」為主題，就像是管家為主人呈上精心準備的下午茶，這樣的形象讓每個...</p>
                </div>
            </div>
            <div class="local-feature" data-category="全館活動">
                <div class="local-feature-img">
                    <img src="/images/local/AllEvents/2.jfif" alt="全館活動">
                </div>
                <div class="local-feature-content">
                    <div class="local-feature-category">全館活動</div>
                    <h3>隨聊散步街</h3>
                    <p>5個品牌進駐，等你來玩～</p>
                </div>
            </div>
            <div class="local-feature" data-category="品牌活動">
                <div class="local-feature-img">
                    <img src="/images/local/AllEvents/3.jfif" alt="品牌活動">
                </div>
                <div class="local-feature-content">
                    <div class="local-feature-category">品牌活動</div>
                    <h3>巨蛋聯名卡太可以！好康刷起來！</h3>
                    <p>食在好幸福｜卡友日</p>
                </div>
            </div>
            <!--<div class="local-feature" data-category="廣場/報名活動">
                <div class="local-feature-img">
                    <img src="/images/local/AllEvents/4.jfif" alt="廣場/報名活動">
                </div>
                <div class="local-feature-content">
                    <div class="local-feature-category">廣場/報名活動</div>
                    <h3>巨蛋聯名卡太可以！好康刷起來！</h3>
                    <p>食在好幸福｜卡友日</p>
                </div>
            </div>-->

            <!--<div class="local-feature" data-category="餐廳美食">
                <div class="local-feature-img">
                    <img src="/images/local/AllEvents/5.jfif" alt="餐廳美食">
                </div>
                <div class="local-feature-content">
                    <div class="local-feature-category">餐廳美食</div>
                    <h3>巨蛋聯名卡太可以！好康刷起來！</h3>
                    <p>食在好幸福｜卡友日</p>
                </div>
            </div>-->
            <div class="local-feature" data-category="公告訊息">
                <div class="local-feature-img">
                    <img src="/images/local/BrandEvents/11.jfif" alt="公告訊息">
                </div>
                <div class="local-feature-content">
                    <div class="local-feature-category">公告訊息</div>
                    <h3>巨蛋聯名卡太可以！好康刷起來！</h3>
                    <p>食在好幸福｜卡友日</p>
                </div>
            </div>
            <div class="local-feature" data-category="活動快報">
                <div class="local-feature-img">
                    <img src="/images/local/BrandEvents/12.jfif" alt="活動快報">
                </div>
                <div class="local-feature-content">
                    <div class="local-feature-category">活動快報</div>
                    <h3>巨蛋聯名卡太可以！好康刷起來！</h3>
                    <p>食在好幸福｜卡友日</p>
                </div>
            </div>
        </div>
    </div>
</section>

